	/*
    Name: Innocent Amini
	Date: 13 October 2025
	File: styles.css
	Desc: This is the CSS file for the lab 3 assignment part 2.
    */


/*1. Import fonts*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 20px;
    min-width: 980px;
    max-width: 1400px;
}

/* Layout */

main {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    gap: 40px;
    padding: 20px 0;
}

/* header and footer */

header {
    border-bottom: 5px solid #aa6666;
}

footer {
    border-top: 5px solid #aa6666;
}

footer p {
    text-align: center;
}

/* 2. Typography */
html {
    font-family: "Roboto", sans-serif;
}
h1,
h2 {
    font-family: 'roboto', sans-serif;
    font-weight: 900;
}
h1 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2px;
}
h2 {
    font-size: 2rem;
    margin-bottom: 0;
    letter-spacing: 1px;
}

section h2 + p {
    text-indent: 2rem;
}
p,
li {
    line-height: 1.6;
    letter-spacing: 0.5px;
}


/* 3. styling links */
a {
    outline: none;
}

a[href*="http"] {
    background: url(external-link-52.png) 
    no-repeat right center;
    background-size: 15px 15px;
    padding-right: 20px;
}

a:link,
a:visited {
    color: #aa6666;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #773333;
}

/* 4. List styling */

ul,
ol {
    margin: 1rem 0;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-roman;
}


/*5. menu styling*/
nav ul {
    padding-left: 0;
}

nav li {
    list-style-type: none;
    margin-bottom: 1rem;
}

nav li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 2.5;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 900;
    border: 1px solid #aa6666;
}

nav li a:focus,
nav li a:hover {
    color: white;
    background: #aa6666;
}

nav li a:active {
    color: white;
    background: black;
}
