	/*
    Name: Innocent Amini
	Date: 08 September 2025
	File: index.html
	Desc: This is the home page for my INNO-CENT3 website 
    */

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}