	/*
    Name: Innocent Amini
	Date: 08 October 2025
	File: index.html
	Desc: This is the CSS file for the lab 3 assignment part 1.
    */

html {
    background-color: white;
}

/* Box styles */
body {
    font: 1.2em / 1.5 system-ui;
    padding: 20px;
    width: 500px;
    background-color: #efefef;
    margin: 0 auto;
}

ul {
    background-color: white;
    border: 5px solid purple;
    padding: 30px;
    border-radius: 20px;
}

/* Text styles */
h1 {
    color: darkslategray;
    font-size: 2rem;
    border-bottom: 10px dotted purple;
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
    }

div.job-title {
    color: darkslategray;
    font-weight: bold;
    }

/* Link styles */
a {
    color: green;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: darkgreen;
    text-decoration: none;
}